/*advcenter.css*/
/*轮播图管理---------------开始*/
    .gamelist {
        padding: 0 20px;
    }
    .gamelist>ul {
        width: 100%;
        height: 36px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 33px;
    }
    .gamelist>ul>li {
        width: 90px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 16px;
        border-bottom: 2px solid #1abca3;
    }
    .gamelist>ul>li>a {
        color: #222;
    }
    .gamelist>ul>li:hover>a {
        color: #777;
    }

    /*表单输入-------开始*/
    .gamelist>form {
        width: auto;
        height: 36px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .gamelist>form>span {
        width: auto;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        float: left;
    }
    .gamelist>form>span>b {
        width: 96px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        float: left;
    }
    .gamelist>form>span>select {
        width: 124px;
        height: 36px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-left: none;
        border-radius: 0 2px 2px 0;
        float: left;
        padding-left: 24px;
    }
    .gamelist>form>input {
        width: 96px;
        height: 36px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        background-color: #1abca3;
        color: #fff;
        cursor: pointer;
        float: left;
    }
/*表单输入-------end*/
    .gamelist>table {
        width: 100%;
        height: auto;
        border: 1px solid #e6e6e6;
    }
    .tthead {
        background-color: #f8f8f8;
    }
    .tthead>tr {
        width: auto;
        height: 60px;
        border: 1px solid #e6e6e6;
    }
    .tthead>tr>th {
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .tthead>tr>th:last-of-type {
        width: 380px;
    }
    .tthead>tr>th:nth-of-type(1)>i {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .ttbody>tr {
        height: 80px;
    }
    .ttbody>tr>td {
        border: 1px solid #e6e6e6;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #555;
    }
    .ttbody>tr:first-of-type>td:nth-of-type(4) {
        color: #1abca3;
    }
    .ttbody>tr>td:nth-last-of-type(2) {
        color: #1abca3;
    }
    .ttbody>tr:nth-of-type(2)>td:nth-last-of-type(2) {
        color: #e05656;
    }
    .ttbody>tr>td:nth-of-type(3)>img {
        vertical-align: middle;
    }
    .ttbody>tr>td:last-of-type>button {
        width: 80px;
        height: 34px;
        display: inline-block;
        color: #fff;
        cursor: pointer;
        background-color: #1abca3;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }
    .ttbody>tr>td:last-of-type>button:nth-of-type(2) {
        background-color: #ee5f48;
        margin: 0 20px;
    }
    .ttbody>tr>td:last-of-type>button:last-of-type {
        background-color: #e05656;
    }
    .pagination>span:nth-of-type(3), .pagination>span:nth-of-type(4) {
        background-color: #f8f8f8;
        color: #222;
    }
/*轮播图管理---------------end*/

/*添加轮播图---------------开始*/
    .addgame>form {
        padding-left: 20px;
    }
    .addgame>form>span {
        width: auto;
        height: 38px;
        line-height: 38px;
        display: inline-block;
        color: #222;
        margin-bottom: 17px;
        border: none;
    }
    .addgame>form>span>b {
        width: 110px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #e6e6e6;
        float: left;
    }
    .addgame>form>span:first-of-type>select {
        width: 128px;
        height: 38px;
        line-height: 38px;
        border: 1px solid #e6e6e6;
        border-left: none;
        float: left;
        padding-left: 20px;
        font-size: 14px;
        color: #555;
    }

    .addgame>form>span:nth-of-type(2)>b {
        float: left;
    }
    .addgame>form>span>input {
        width: 235px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding-left: 15px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        margin-left: -1px;
    }
    .addgame>form>span:nth-of-type(4)>input {
        width: 16px;
        height: 16px;
        margin-left: 20px;
        margin-right: 5px;
        vertical-align: middle;
    }
    .addgame>form>span:nth-of-type(4)>i {
        display: inline-block;
        margin-right: 20px;
        color: #666;
    }
    .addgame>form>span:nth-of-type(2)>input {
        width: 88px;
        display: inline-block;
        margin-right: 15px;
        height: 38px;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        background-color: #1abca3;
        text-align: center;
        padding-left: 0;
        color: #fff;
        margin-left: 20px;
        cursor: pointer;
    }
    .imgbox {
        width: 304px;
        height: 141px;
        text-align: center;
        line-height: 141px;
        border: 1px solid #e6e6e6;
        position: relative;
        margin-bottom: 17px;
    }
    .imgbox>img:first-of-type {
        vertical-align: middle;
    }
    .imgbox>img:last-of-type {
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
    .addgame>form>p {
        width: auto;
        height: 48px;
        margin-top: 50px;
    }
    .addgame>form>p>input {
        width: 100px;
        height: 48px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        margin-right: 23px;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    .addgame>form>p>input.add {
        background-color: #1abca3;
        color: #fff;
    }
/*添加轮播图---------------end*/
