/*datacenter.css*/
/*��������-----------------------------------��ʼ*/
/*�û�����----------------��ʼ*/
    /*������-------��ʼ*/
    .usermanage>form {
        width: auto;
        height: 36px;
        line-height: 36px;
        padding-left: 20px;
    }
    .usermanage>form>span {
        width: auto;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        float: left;
    }
    .usermanage>form>span:nth-of-type(1)>input {
        width: 120px;
        height: 34px;
        display: inline-block;
        text-align: center;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        float: left;
    }
    .usermanage>form>span:nth-of-type(1)>b {
        width: 36px;
        height: 34px;
        display: inline-block;
        text-align: center;
        line-height: 34px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        background-color: #f8f8f8;
        float: left;
    }
    .usermanage>form>span:nth-of-type(n+2)>b,
    .usermanage>form>span.registertime>b {
        width: 96px;
        height: 34px;
        display: inline-block;
        text-align: center;
        border: 1px solid #e6e6e6;
        border-right: none;
        background-color: #f8f8f8;
        float: left;
    }
    .usermanage>form>span:nth-of-type(n+2)>input,
    .usermanage>form>span.registertime>input,
    .usermanage>form>span:nth-of-type(2)>select {
        width: 150px;
        height: 34px;
        display: inline-block;
        line-height: 34px;
        padding-left: 10px;
        border: 1px solid #e6e6e6;
        border-left: none;
        float: left;
    }
    .usermanage>form>span:nth-of-type(2)>select {
        height: 36px;
    }
    .usermanage>form>input {
        width: 96px;
        height: 36px;
        display: inline-block;
        line-height: 36px;
        text-align: center;
        border: 1px solid #e6e6e6;
        background-color: #1abca3;
        color: #fff;
        cursor: pointer;
        float: left;
        border-radius: 2px;
    }
    /*������-------end*/

    /*�������-----------��ʼ*/
    .usermanage>table {
        width: 100%;
        padding: 0 20px;
        margin-top: 30px;
    }
    .tthead>tr {
        width: auto;
        height: 60px;
        border: 1px solid #e6e6e6;
    }
    .tthead>tr>th {
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .ttbody>tr {
        height: 50px;
    }
    .ttbody>tr>td {
        border: 1px solid #e6e6e6;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #555;
    }
    .ttbody>tr>td:last-of-type>button {
        width: 80px;
        height: 34px;
        display: inline-block;
        color: #fff;
        cursor: pointer;
        background-color: #1abca3;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }
    .ttbody>tr>td:last-of-type>button:nth-of-type(2) {
        background-color: #ee5f48;
        margin: 0 20px;
    }
    .pagination>span:nth-of-type(3), .pagination>span:nth-of-type(4) {
        background-color: #fff;
        color: #222;
    }
    /*�������-----------end*/
/*�û�����----------------------end*/

/*�������----------------------��ʼ*/
    /*����б�-------��ʼ*/
    .gamelist,.rechargedata {
        width: 1680px;
        padding: 0 20px;
    }
    .gamelist>ul,
    .rechargedata>ul {
        width: 100%;
        height: 36px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 33px;
    }
    .gamelist>ul>li,
    .rechargedata>ul>li {
        width: 90px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 16px;
        float: left;
    }
    .gamelist>ul>li.bline,
    .rechargedata>ul>li.bline {
        border-bottom: 2px solid #1abca3;
    }
    .gamelist>ul>li>span,
    .rechargedata>ul>li>span {
        color: #222;
        cursor: pointer;
    }
    .gamelist>ul>li:hover>span,
    .rechargedata>ul>li:hover>span {
        color: #777;
    }

    /*������-----��ʼ*/
    .giftlist>form {
        width: auto;
        height: 36px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .giftlist>form>span {
        width: auto;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        float: left;
    }
    .giftlist>form>span>b {
        width: 96px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        float: left;
        background-color: #f8f8f8;
    }
    .giftlist>form>span>input,.giftlist>form>span>select {
        width: 150px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-left: none;
        border-radius: 0 2px 2px 0;
        float: left;
        padding-left: 10px;
    }
    .giftlist>form>span>select {
        width: 124px;
        height: 36px;
        padding-left: 20px;
    }
    .giftlist>form>input {
        width: 96px;
        height: 36px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        background-color: #1abca3;
        color: #fff;
        cursor: pointer;
        float: left;
    }
    /*������-------end*/

    /*�������-------��ʼ*/
    .giftlist>table {
        width: 100%;
        height: auto;
        border: 1px solid #e6e6e6;
    }
    .tthead {
        background-color: #f8f8f8;
    }
    .tthead>tr {
        width: auto;
        height: 60px;
        border: 1px solid #e6e6e6;
    }
    .tthead>tr>th {
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .tthead>tr>th:last-of-type {
        width: 380px;
    }
    .tthead>tr>th:nth-of-type(1)>i {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .ttbody>tr {
        height: 50px;
    }
    .ttbody>tr>td {
        border: 1px solid #e6e6e6;
        text-align: center;
        line-height: 50px;
        font-size: 14px;
        color: #555;
    }
    .ttbody>tr>td:nth-last-of-type(2)>i {
        color: #e05656;
    }
    .ttbody>tr>td:last-of-type>button {
        width: 80px;
        height: 34px;
        display: inline-block;
        color: #fff;
        cursor: pointer;
        background-color: #1abca3;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
    }
    .ttbody>tr>td:last-of-type>button:nth-of-type(2) {
        background-color: #ee5f48;
        margin: 0 20px;
    }
    .ttbody>tr>td:last-of-type>button:last-of-type {
        background-color: #e05656;
    }
    /*�������-----end*/
    /*����б�----------------end*/

    /*������---------��ʼ*/
    .addgift>form {
        width: 100%;
        margin-top: 30px;
    }
    .addgift>form>span {
        width: auto;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-bottom: 10px;
    }
    .addgift>form>span:nth-of-type(4),
    .addgift>form>span:nth-of-type(5) {
        height: 150px;
    }
    .addgift>form>span>b {
        width: 110px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px 2px 0 0;
        text-align: center;
        background-color: #f8f8f8;
        float: left;
    }
    .addgift>form>span:nth-of-type(4)>b,
    .addgift>form>span:nth-of-type(5)>b {
        height: 150px;
        line-height: 150px;
    }
    .addgift>form>span:nth-of-type(4)>textarea,
    .addgift>form>span:nth-of-type(5)>textarea {
        width: 840px;
        height: 150px;
        display: inline-block;
        border-color: #e6e6e6;
        border-left: none;
    }
    .addgift>form>span:first-of-type>input,
    .addgift>form>span:nth-of-type(2)>input,
    .addgift>form>span:nth-of-type(3)>input,
    .addgift>form>span:last-of-type>input {
        width: 150px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 0 0 2px 2px;
        border-left: none;
        padding-left: 10px;
        float: left;
        font-size: 12px;
        color: #999;
        margin-right: 30px;
    }
    .addgift>form>span:nth-of-type(2)>input,
    .addgift>form>span:nth-of-type(3)>input {
        width: 500px;
    }
    .addgift>form>span:first-of-type>img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    .addgift>form>span:first-of-type>i {
        width: auto;
        display: inline-block;
        font-size: 14px;
        color: #222;
    }
    .addgift>form>span:last-of-type>i {
        width: 38px;
        height: 34px;
        border: 1px solid #e6e6e6;
        display: inline-block;
        font-size: 14px;
        color: #222;
        text-align: center;
        float: left;
    }
    .addgift>form>span:last-of-type>input {
        width: 116px;
        margin-right: 0;
        color: #222;
    }
    .addgift>form>p {
        width: auto;
        height: 48px;
        margin-top: 50px;
    }
    .addgift>form>p>input {
        width: 100px;
        height: 46px;
        line-height: 46px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        margin-right: 20px;
        background-color: #f8f8f8;
        color: #222;
    }
    .addgift>form>p>input.on {
        background-color: #1abca3;
        color: #fff;
    }
    /*������---------end*/
/*�������-------------------------end*/

/*��ֵ����-------------------------��ʼ*/
    /*С��ֵ����----------��ʼ*/
    .srecharge>form {
        width: auto;
        height: 36px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .srecharge>form>span {
        width: auto;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        float: left;
    }
    .srecharge>form>span>b {
        width: 96px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        float: left;
        background-color: #f8f8f8;
    }
    .srecharge>form>span>input{
        width: 150px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-left: none;
        border-radius: 0 2px 2px 0;
        float: left;
        padding-left: 10px;
    }
    .srecharge>form>span:last-of-type>input{
        width: 116px;
        height: 34px;
        text-align: center;
        float: left;
    }
    .srecharge>form>span:last-of-type>i{
        width: 38px;
        height: 34px;
        border: 1px solid #e6e6e6;
        display: inline-block;
        font-size: 14px;
        color: #222;
        text-align: center;
        float: left;
    }

    .srecharge>form>span>select {
        width: 124px;
        height: 36px;
        padding-left: 20px;
    }
    .srecharge>form>input {
        width: 96px;
        height: 36px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        background-color: #1abca3;
        color: #fff;
        cursor: pointer;
        float: left;
    }
    .srecharge>table {
        width: 100%;
        height: auto;
        border: 1px solid #e6e6e6;
    }
    .tthead {
        background-color: #f8f8f8;
    }
    .tthead>tr {
        width: auto;
        height: 60px;
        border: 1px solid #e6e6e6;
    }
    .tthead>tr>th {
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .tthead>tr>th:last-of-type {
        width: 380px;
    }
    .tthead>tr>th:nth-of-type(1)>i {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #222;
    }
    .ttbody>tr {
        height: 50px;
    }
    .ttbody>tr:nth-of-type(n+2)>td:nth-of-type(9) {
        color: #e05656;
    }
    .ttbody>tr>td:last-of-type>button:last-of-type {
        background-color: #1abca3;
    }
    /*С��ֵ����----------end*/

    /*C�ҹ���------------��ʼ*/
    .ccoinmanage>form {
        width: auto;
        height: 36px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .ccoinmanage>form>span {
        width: auto;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-right: 30px;
        float: left;
    }
    .ccoinmanage>form>span>b {
        width: 96px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        float: left;
        background-color: #f8f8f8;
    }
    .ccoinmanage>form>span>input {
        width: 150px;
        height: 34px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-left: none;
        border-radius: 0 2px 2px 0;
        float: left;
        padding-left: 10px;
    }
    .ccoinmanage>form>span:nth-of-type(2)>input {
        text-align: center;
    }
    .ccoinmanage>form>span:nth-of-type(2)>i {
        width: 38px;
        height: 34px;
        border: 1px solid #e6e6e6;
        display: inline-block;
        font-size: 14px;
        color: #222;
        text-align: center;
        float: left;
    }

    .ccoinmanage>form>input {
        width: 96px;
        height: 36px;
        display: inline-block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        text-align: center;
        background-color: #1abca3;
        color: #fff;
        cursor: pointer;
        float: left;
    }
    .ccoinmanage>table {
        width: 100%;
        height: auto;
        border: 1px solid #e6e6e6;
    }
    /*C�ҹ���------------end*/

    /*C�ҷ���------------��ʼ*/
    .ccoinprovide>form {
        padding-left: 20px;
    }
    .addgame>form>.bigbox {
        min-height: 500px;
        overflow-y: auto;
        overflow-x: auto;
        max-height: 600px;
    }
    .ccoinprovide>form>span {
        width: auto;
        height: 38px;
        line-height: 38px;
        display: inline-block;
        color: #222;
        margin-bottom: 17px;
        border: none;
        position: relative;
    }
    .addgame>form>.bigbox>span {
        width: auto;
        height: 38px;
        line-height: 38px;
        display: inline-block;
        color: #222;
        margin-bottom: 17px;
        border: none;
    }
    .addgame>form>.bigbox>.gamedescribe {
        height: 150px;
    }
    .ccoinprovide>form>span>b {
        width: 110px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #e6e6e6;
    }
    .ccoinprovide>form>span>.cont-del {
        position: absolute;
        left:0;
        display:none;
    }
    .addgame>form>.bigbox>span>b {
        width: 110px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        text-align: center;
        background-color: #f8f8f8;
        border: 1px solid #e6e6e6;
    }
    .addgame>form>.bigbox>span:last-of-type>b,
    .addgame>form>.bigbox>span.chose>b {
        float: left;
    }
    .addgame>form>.bigbox>span>i {
        display: inline-block;
        font-size: 14px;
        color: #222;
        margin-left: 10px;
    }
    .addgame>form>.bigbox>span:last-of-type>i,
    .addgame>form>.bigbox>span.chose>i {
        float: left;
        margin-right: 20px;
    }
    .addgame>form>.bigbox>.gamedescribe>b {
        height: 150px;
        line-height: 150px;
        float: left;
    }
    .addgame>form>.bigbox>.gamedescribe>textarea {
        width: 700px;
        height: 150px;
        float: left;
        border-color: #e6e6e6;
        resize: none;
    }
    .addgame>form>.bigbox>.gameclassify>select {
        width: 124px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
    }
    .ccoinprovide>form>span:first-of-type>b {
        float: left;
    }
    .ccoinprovide>form>span>input {
        width: 235px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding-left: 15px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        margin-left: -1px;
    }
    .addgame>form>.bigbox>span>input {
        width: 400px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding-left: 15px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        margin-left: -1px;
    }
    .addgame>form>.bigbox>.screenshot>div,
    .addgame>form>.bigbox>.gameicon>div,
    .addgame>form>.bigbox>.gamebg>div {
        width: 88px;
        height: 38px;
        display: inline-block;
        margin-right: 15px;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        background-color: #1abca3;
        text-align: center;
        padding-left: 0;
        color: #fff;
        margin-left: 20px;
        cursor: pointer;
    }
    .screenshot>.webuploader-pick {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: none;
        padding: 0;
        color: #fff;
        text-align: inherit;
        border-radius: 0;
        overflow: hidden;
    }
    .addgame>form>.bigbox>.screenshotlist {
        width: 100%;
        height: 120px;
        display: inline-block;
        margin-bottom: 17px;
    }
    .addgame>form>.bigbox>.gameiconlist {
        width: 100%;
        height: 80px;
        display: inline-block;
        margin-bottom: 17px;
    }
    .addgame>form>.bigbox>.gamebglist {
        width: 100%;
        height: 70px;
        display: inline-block;
        margin-bottom: 17px;
    }
    .addgame>form>.bigbox>.screenshotlist>.flag {
        width: 78px;
        height: 112px;
        border: 1px solid #e6e6e6;
        float: left;
        color: #999;
        font-size: 12px;
        position: relative;
    }
    .addgame>form>.bigbox>.screenshotlist>.flag>i {
        width: 100%;
        line-height: 20px;
        display: inline-block;
        text-align: center;
        margin-top: 30px;
    }
    .addgame>form>.bigbox>.screenshotlist>.flag>img {
        position: absolute;
        top: 0;
        right: 0;
    }
    .addgame>form>.bigbox>span:last-of-type>input,
    .addgame>form>.bigbox>span.chose>input {
        width: 15px;
        height: 15px;
        margin-left: 20px;
        margin-top: 12px;
        float: left;
    }
    .ccoinprovide>form>span:first-of-type>input {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
    .addgame>form>span:first-of-type>input {
        width: 235px;
        height: 36px;
        line-height: 36px;
        display: inline-block;
        padding-left: 15px;
        font-size: 14px;
        border: 1px solid #e6e6e6;
        margin-left: -1px;
        margin-top: 0;
    }
    .ccoinprovide>form>i {
        font-size: 14px;
        color: #666;
    }
    .ccoinprovide>form>i:nth-of-type(n+2) {
        display: inline-block;
        color: #999;
        margin-left: 10px;
    }
    .ccoinprovide>form>p {
        width: auto;
        height: 48px;
        margin-top: 50px;
    }
    .ccoinprovide>form>p>input {
        width: 100px;
        height: 48px;
        display: inline-block;
        font-size: 14px;
        color: #222;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        margin-right: 23px;
        background-color: #f8f8f8;
        cursor: pointer;
    }
    .ccoinprovide>form>p>input.add {
        background-color: #1abca3;
        color: #fff;
    }
    /*C�ҷ���------------end*/
/*��ֵ����-------------------------end*/

/*��������-------------------------��ʼ*/
    .consumedata {
        padding: 0 20px;
    }
    .consumedata>form>span:last-of-type>input {
        text-align: left;
    }
    .consumedata .ttbody>tr:nth-of-type(2)>td:last-of-type {
        color: #e05656;
    }
/*��������-------------------------end*/
/*��������-----------------------------------end*/
