<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>头部</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/admin/css/reset.css"/>
    <link rel="stylesheet" href="/static/admin/css/common.css"/>
</head>
<body>
    <!--顶部导航栏--------开始-->
    <div class="tq-head">
        <ul class="ull clearfix fl">
            {foreach $powers as $key => $power}
            <li><a href="{$key}" target="leftFrame" class="head_click">{$power}</a></li>
            <!-- <li><a href="{:url('index/leftdata')}" target="leftFrame">数据中心</a></li>
            <li><a href="{:url('index/leftbanner')}" target="leftFrame">广告中心</a></li> -->
            <!-- <li><a href="{:url('index/leftmessage')}" target="leftFrame">系统消息</a></li> -->
            <!-- <li><a href="{:url('index/leftpost')}" target="leftFrame">帖子管理</a></li>
            <li class="bg"><a href="{:url('index/leftsetup')}" target="leftFrame">设置</a></li> -->
            {/foreach}
        </ul>
        <ul class="ulr clearfix fr">
            <li class="user">
                <img src="/static/admin/img/user_icon.png">
                <a href="">欢迎{$username}</a>
            </li>
            <li>
                <a href="">清除缓存</a>
            </li>
            <li>
                <a href="{:url('login/logout')}" target="_top">注销</a>
            </li>
        </ul>
    </div>
    <!--顶部导航栏--------end-->
    <script src="/static/jq/jquery.min.js"></script>
    <script>
        $(".head_click").click(function(){
           $(this).parent('li').addClass('bg').siblings('li').removeClass("bg");
        });
    </script>
</body>
</html>