<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>侧边栏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/static/admin/css/reset.css"/>
    <link rel="stylesheet" href="/static/admin/css/common.css"/>
</head>
<body>
    <!--侧边导航栏--------开始-->
    <div class="sidebar fl clearfix" id="notesidebar">
        <ul>
            <li class="menu" id="menu">
                <img src="/static/admin/img/menu_icon.png" alt=""/>
            </li>
            {foreach $powers as $key => $power}
            {if condition="$key=='/admin/data/user'"}
            <li>
                <img src="/static/admin/img/datacenter_icon1.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {elseif condition="$key=='/admin/data/gift'"/}
            <li>
                <img src="/static/admin/img/datacenter_icon2.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {elseif condition="$key=='/admin/data/rechargeData'"/}
            <li>
                <img src="/static/admin/img/datacenter_icon3.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {elseif condition="$key=='/admin/data/rechargeSum'"/}
            <li>
                <img src="/static/admin/img/datacenter_icon4.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {elseif condition="$key=='/admin/data/consumption'"/}
            <li>
                <img src="/static/admin/img/datacenter_icon5.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {elseif condition="$key=='/admin/data/handlerLog'"/}
            <li>
                <img src="/static/admin/img/datacenter_icon7.png" alt=""/>
                <span><a href="{$key}" target="rightFrame">{$power}</a></span>
            </li>
            {/if}
            {/foreach}
            <!-- <li>
                <img src="/static/admin/img/notemanage_icon1.png" alt=""/>
                <span><a href="{:url('data/user')}" target="rightFrame">用户管理</a></span>
            </li>
            <li>
                <img src="/static/admin/img/notemanage_icon2.png" alt=""/>
                <span><a href="{:url('data/gift')}" target="rightFrame">礼包管理</a></span>
            </li>
            <li>
                <img src="/static/admin/img/notemanage_icon2.png" alt=""/>
                <span><a href="{:url('')}" target="rightFrame">充值数据</a></span>
            </li>
            <li>
                <img src="/static/admin/img/notemanage_icon2.png" alt=""/>
                <span><a href="{:url('')}" target="rightFrame">消费数据</a></span>
            </li>
            <li>
                <img src="/static/admin/img/notemanage_icon2.png" alt=""/>
                <span><a href="{:url('')}" target="rightFrame">充值汇总</a></span>
            </li> -->
            <!-- <li>
                <img src="/static/admin/img/notemanage_icon3.png" alt=""/>
                <span>违禁词库</span>
            </li> -->
        </ul>
    </div>
    <!--侧边导航栏--------end-->
    <script type="text/javascript" src="/static/admin/jq/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/left.js"></script>
</body>
</html>