/*login.css*/
    .login {
        width: 100%;
        height: 100%;
        background-color: #3d4d67;
        position: relative;
    }
    .smallbox {
        width: 506px;
        height: 578px;
        background-color: #47566f;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .top {
        width: 100%;
        height: 67px;
        margin-top: 60px;
        margin-bottom: 50px;
    }
    .top>img {
        display: inline-block;
        float: left;
        margin-left: 125px;
    }
    .top>h1 {
        font-size: 32px;
        color: #fff;
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }
    .top>b {
        width: 188px;
        display: inline-block;
        font-size: 14px;
        color: #9a9a9a;
        float: left;
        margin-top: 5px;
        margin-left: 10px;
        letter-spacing: 2px;
    }
    .smallbox>form {
        width: 396px;
        padding: 0 55px;
    }
    .smallbox>form>span {
        width: 100%;
        height: 54px;
        line-height: 54px;
        display: inline-block;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 5px;
    }
    .smallbox>form>span>i {
        width: 83px;
        display: inline-block;
        background-color: #687891;
        text-align: center;
        border-radius: 5px 0 0 5px;
    }
    .smallbox>form>span>i>img {
        vertical-align: middle;
    }
    .smallbox>form>span>input {
        display: inline-block;
        font-size: 14px;
        color: #999999;
        padding-left: 20px;
    }
    .smallbox>form>input {
        width: 100%;
        height: 54px;
        background-color: #1ab395;
        line-height: 54px;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        color: #fff;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
    }
    .login>p {
        font-size: 14px;
        color: #b0b5bd;
        position: absolute;
        bottom: 75px;
        left: 50%;
        margin-left: -261px;
    }






    


