<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加轮播图</title>
    <link rel="stylesheet" href="__CSS__reset.css"/>
    <link rel="stylesheet" href="__CSS__common.css"/>
    <link rel="stylesheet" href="__CSS__advcenter.css"/>
    <style>
        .advimg>div:nth-of-type(2)>input {
            width: 88px;
            height: 38px;
            display: inline-block;
            float: left;
            display: none;
        }
        .imgbox>div {
            float: left;
            margin-right: 24px;
            position: relative;
        }
        .imgbox>div>img:last-of-type {
            /*position: absolute;*/
            top: 0;
            right: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="tqOA">
    <!--内容主体区域-------开始-->
    <div class="tq-body fl clearfix">
        <ul id="navbar">
            <li>主页</li>
            <li class="now" style="display: none">轮播图管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
            <li class="now">添加轮播图&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        </ul>

        <!--添加轮播图----------开始-->
        <div class="addgame" id="addlunbotu">
            <form method="post" action="{:url('banner/addBannerData')}">
                   <span>
                        <b>广告位</b>
                        <select name="type" id="">
                            <option value="">全部</option>
                            {foreach $adlist as $ads}
                            <option value="{$ads.id}">{$ads.value}</option>
                            {/foreach}
                        </select>
                    </span><br>
                <span>
                    <b>广告图片</b>
                    <div class="advimg" id="filePicker">选择图片</div>
                </span>
                <br>
                <div class="imgbox" id="fileList">
                    <div class="flag"></div>
                    <!--<img src="img/advcenter_icon4.png" alt=""/>-->
                    <!--<img src="img/advcenter_icon5.png" alt=""/>-->
                </div>
                    <span>
                        <b>选择游戏</b>
                        <select name="game" id="">
                            <option value="">选择游戏</option>
                            {foreach $game as $games}
                            <option value="{$games.id}">{$games.name}</option>
                            {/foreach}
                        </select>
                    </span><br>
                    <span>
                        <b>是否启用</b>
                        {foreach $isUse as $use}
                        <input type="radio" name="use" value="{$use.id}"/>
                        <i>{$use.value}</i>
                        {/foreach}
                    </span>
                <br>
                <input name="index_banner" type="hidden" id="index_banner" value=""/>
                <p><input type="submit" value="保存" class="add"/><a href="{:url('banner/index')}">取消</a></p>
            </form>
        </div>
        <!--添加轮播图----------end-->

    </div>
    <!--内容主体区域-------end-->
    <script type="text/javascript" src="__JQ__jquery.min.js"></script>
    <script type="text/javascript" src="__WEB__webuploader.js"></script>
    <!-- <script type="text/javascript" src="__JS__advcenter.js"></script> -->
    <script type="text/javascript" src="/static/lib/uploader.js"></script>
</div>
</body>
<script>

    var uploader3 = new $.uploader({pick:'#filePicker',fileList:'#fileList',itemList:'#index_banner'})
                .setToken("{$token}").dataToken("{$uploadToken}")
                .getInstance();  

</script>
</html>