<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>添加礼包</title>
    <link rel="stylesheet" href="__CSS__reset.css"/>
    <link rel="stylesheet" href="__CSS__common.css"/>
    <link rel="stylesheet" href="__CSS__datacenter.css"/>
</head>
<body>
<div class="tqOA">

    <!--内容主体区域-------开始-->
    <div class="tq-body fl clearfix">
        <ul id="datanavbar">
            <li>主页</li>
            <li class="now" style="display: none">用户管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
            <li class="now">礼包管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
            <li class="now" style="display: none">充值数据&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
            <li class="now" style="display: none">消费数据&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        </ul>

        <!--礼包管理----------开始-->
        <div class="gamelist" id="gamelist">
            <ul>
                <li><span><a href="{:url('data/gift')}">礼包列表</a></span></li>
                <li class="bline"><span><a href="{:url('data/addGift')}">添加礼包</a></span></li>
            </ul>


            <!--添加礼包---------开始-->
            <div class="addgift" id="addgift">
                <form method="post" action="{:url('data/addGiftData')}">
                        <span>
                            <b>游戏名称</b>
                            <select name="game" id="">
                                <option value="">选择游戏</option>
                                {foreach $game as $games}
                                <option value="{$games.id}">{$games.name}</option>
                                {/foreach}
                            </select>
                        </span>
                    <br>
                    <span>
                        <b>礼包类型</b>
                        <select name="type" id="">
                            <option value="">选择类型</option>
                            {foreach $giftlist as $glist}
                            <option value="{$glist.id}">{$glist.value}</option>
                            {/foreach}
                        </select>
                    </span>
                    <br>
                        <span>
                            <b>礼包标题</b>
                            <input type="text" required="required" name="title" placeholder="请输入标题"/>
                        </span>
                    <br>

                        <span>
                            <b>礼包码</b>
                            <input type="text" required="required" name="code"/>
                        </span>
                    <br>
                        <span>
                            <b>礼包内容</b>
                            <textarea name="content" id="" cols="30" rows="10"></textarea>
                        </span>
                    <br>
                        <span>
                            <b>使用说明</b>
                            <textarea name="directions" id="" cols="30" rows="10"></textarea>
                        </span>
                    <br>
                        <span>
                            <b>兑换期限</b>
                            <input type="date" name="start_time" value=""/>
                            <i>至</i>
                            <input type="date" name="end_time" value=""/>
                        </span>
                    <br>
                    <p>
                        <input type="submit" value="添加" class="on">
                        <input type="reset" value="重置"/>
                    </p>
                </form>
            </div>
            <!--添加礼包---------end-->
        </div>
        <!--礼包管理----------end-->
    </div>
    <!--内容主体区域-------end-->
</div>
</body>
</html>