<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>新建帖子</title>
    <link rel="stylesheet" href="__CSS__reset.css"/>
    <link rel="stylesheet" href="__CSS__common.css"/>
    <link rel="stylesheet" href="__CSS__notemanage.css"/>
    <style>
        .notefile>div:nth-of-type(2)>input {
            width: 88px;
            height: 38px;
            display: inline-block;
            float: left;
            display: none;
        }
        .notelist>div {
            float: left;
            margin-right: 24px;
            position: relative;
        }
        .notelist>div>img:last-of-type {
            /*position: absolute;*/
            top: 0;
            right: 0;
            cursor: pointer;
        }
    </style>
</head>
<body>

<!--内容主体区域-------开始-->
<div class="tq-body fl clearfix">
    <ul id="notenavbar">
        <li>主页</li>
        <li class="now" style="display: none">帖子管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now">新建帖子&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now" style="display: none">违禁词库&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
    </ul>

    <!--新建帖子----------开始-->
    <div class="gamelist">
        <div class="addgift newnote">
            <form method="post" action="{:url('post/editPostData')}">
                <input type="hidden" name="id" value="{$lists.id}">
                 <span>
                     <b>帖子标题</b>
                     <input type="text" name="title" value="{$lists.title}" placeholder="请输入标题"/>
                 </span>
                <br>
                <span>
                    <b>置顶</b>
                    {foreach $postStatus as $status}
                    {if condition="$lists.is_top==$status.id"}
                    <input name="label" value="{$status.id}" type="radio" checked="checked"/>
                    {else /}
                    <input name="label" value="{$status.id}" type="radio"/>
                    {/if}
                    <i>{$status.value}</i>
                    {/foreach}
                </span>
                <br>
                <span id="user_name" class="Pca" >
                     <b>输入账号名</b>
                     <input type="text" name="username" value="{$lists.username}" placeholder="请输入帐号" readonly="readonly"/>
                 </span>
                <br>
                <span>
                    <b>所在游戏</b>
                    <select name="game" id="">
                        <option value="">选择游戏</option>
                        {foreach $game as $games}
                        {if condition="$lists.app_id==$games.id"}
                        <option value="{$games.id}" selected="selected">{$games.name}</option>
                        {else /}
                        <option value="{$games.id}">{$games.name}</option>
                        {/if}
                        {/foreach}
                    </select>
                </span>
                <br>

                <textarea id="container" name="content" type="text/plain" style="width:900px;height:500px;"></textarea>
                <br>
                <!--<span class="noteimg">-->
                    <!--<b>帖子图片</b>-->
                    <!--<div id="notefile" class="notefile">选择文件</div>-->
                <!--</span>-->
                <br>
                <div class="notelist" id="notelist">
                    <div class="flag"></div>
                </div>
                <div class="imgbox">
                    <!--<img src="img/advcenter_icon4.png" alt=""/>-->
                    <!--<img src="img/advcenter_icon5.png" alt=""/>-->
                </div>
                <input name="pics" type="hidden" id="pics" value=""/>
                <p>
                    <input type="submit" id="save" value="修改" class="on">
                    <a href="{:url('post/post')}">取消</a>
                </p>
            </form>
        </div>
    </div>
    <!--新建帖子----------end-->
</div>
<!--内容主体区域-------end-->
<script type="text/javascript" src="__JQ__jquery.min.js"></script>
<script type="text/javascript" src="__WEB__webuploader.js"></script>
<!--<script type="text/javascript" src="__JS__notemanage.js"></script>-->
<!-- 配置文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>

</body>
<script>
    // var uploader3 = new $.uploader({pick:'#notefile',fileList:'#notelist',itemList:'#pics'})
    //     .setToken("{$token}").dataToken("{$uploadToken}")
    //     .getInstance();
    // var E = window.wangEditor;
    // var editor = new E('#editor');
    // editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    // // 或者 var editor = new E( document.getElementById('editor') )
    // var $text1 = $('#text1')
    // editor.customConfig.onchange = function (html) {
    //     $text1.val(html)
    // }
    // editor.create()
    // // 初始化 textarea 的值
    // $text1.val(editor.txt.html())
    // editor.txt.html('{$lists.content}')
    // // editor.txt.append('{$lists.username}');
    var ue = UE.getEditor('container');

    // UE.getEditor('editor').setContent('欢迎使用ueditor');
    $(function(){
        var content ='{$lists.content}';
        //判断ueditor 编辑器是否创建成功
        ue.addListener("ready", function () {
            // editor准备好之后才可以使用
            ue.setContent(content);

        });
    });

</script>
</html>