<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>批量新建</title>
    <link rel="stylesheet" href="__CSS__reset.css"/>
    <link rel="stylesheet" href="__CSS__common.css"/>
    <link rel="stylesheet" href="__CSS__notemanage.css"/>
</head>
<body>
<!--内容主体区域-------开始-->
<div class="tq-body fl clearfix">
    <ul id="notenavbar">
        <li>主页</li>
        <li class="now" style="display: none">帖子管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now" style="display: none">新建帖子&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now">违禁词库&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
    </ul>

    <!--违禁词库----------开始-->
    <div class="rechargedata" id="wjck">
        <!--批量新建---------开始-->
        <div class="ccoinmanage batch plxj" id="newbatch">
            <h3>每个词语请用”,”不区分半角圆角写</h3>
            <form method="post" action="{:url('post/edit')}">
                <span>
                    <b>词语</b>
                    <textarea name="word" id="" cols="30" rows="10">{$lists.word_list}</textarea>

                </span>
                <br>
                <span>
                    <b>禁忌词汇类型</b>
                    <input type="text" name="range" value="{$lists.range}" readonly="readonly">

                </span>
                <br>

                <p>
                    <input type="submit" value="新建完成" class="on">
                    <a href="{:url('post/wordList')}">取消</a>
                </p>
            </form>
        </div>
        <!--批量新建---------end-->
    </div>
    <!--违禁词库----------end-->
</div>
<!--内容主体区域-------end-->
</body>
</html>