<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>词库列表</title>
    <link rel="stylesheet" href="__CSS__reset.css"/>
    <link rel="stylesheet" href="__CSS__common.css"/>
    <link rel="stylesheet" href="__CSS__notemanage.css"/>
</head>
<body>
<!--内容主体区域-------开始-->
<div class="tq-body fl clearfix">
    <ul id="notenavbar">
        <li>主页</li>
        <li class="now" style="display: none">帖子管理&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now" style="display: none">新建帖子&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
        <li class="now">违禁词库&nbsp;&nbsp;&nbsp;&nbsp;<i>&Chi;</i></li>
    </ul>

    <!--违禁词库----------开始-->
    <div class="rechargedata" id="wjck">
        <ul>
            <li class="bline"><span><a href="{:url('post/wordList')}">词库列表</a></span></li>
            {foreach $powers as $key=>$power}
            {if condition="$key=='/admin/post/addBan'"}
            <li><span><a href="{$key}">批量新建</a></span></li>
            {/if}
            {/foreach}
            <!-- <li><span><a href="{:url('post/addBan')}">批量新建</a></span></li> -->
        </ul>
        <!--词库列表---------开始-->
        <div class="srecharge lexicon" id="lexiconlist">
            <!--<form action="">-->
                        <!--<span>-->
                            <!--<input type="text" placeholder="请输入评论内容"/>-->
                            <!--<b>搜索</b>-->
                        <!--</span>-->
                <!--<input type="button" value="批量删除"/>-->
            <!--</form>-->

            <table cellspacing="0">
                <thead class="tthead">
                <tr>
                    <!--<th><img src="__IMG__gamelist_icon1.png"></img></th>-->
                    <th>禁忌词汇ID</th>
                    <th>禁忌词汇类型</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="ttbody">
                {foreach $lists as $list}
                <tr>
                    <!--<td><img src="__IMG__gamelist_icon2.png" alt=""/></td>-->
                    <td>{$list.id}</td>
                    <td>{$list.range}</td>
                    <td>
                        {foreach $powers as $key=>$power}
                        {if condition="$key=='/admin/post/editBan'"}
                        <button><a href="{$key}?id={$list.id}">编辑</a></button>
                        {/if}
                        {if condition="$key=='/admin/post/delWord'"}
                        <button><a href="{$key}?id={$list.id}">删除</a></button>
                        {/if}
                        {/foreach}
                        <!-- <button><a href="{:url('post/editBan')}?id={$list.id}">编辑</a></button>
                        <button><a href="{:url('post/delWord')}?id={$list.id}">删除</a></button> -->
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>

            <!--<div class="pagination">-->
                <!--<span>&lt;</span>-->
                <!--<span>1</span>-->
                <!--<span>2</span>-->
                <!--<span>3</span>-->
                <!--<span>&gt;</span>-->
                <!--<div class="skip">-->
                    <!--<i>跳到</i>-->
                    <!--<input type="text" value="3"/>-->
                    <!--<i>页</i>-->
                    <!--<input type="button" value="确定"/>-->
                    <!--<i>共10页</i>-->
                <!--</div>-->
                <!--<select name="" id="">-->
                    <!--<option value="">10条/页</option>-->
                    <!--<option value="">30条/页</option>-->
                    <!--<option value="">60条/页</option>-->
                    <!--<option value="">100条/页</option>-->
                <!--</select>-->
            <!--</div>-->
        </div>
        <!--词库列表---------end-->
    </div>
    <!--违禁词库----------end-->
</div>
<!--内容主体区域-------end-->
</body>
</html>